[Unit]
Description=Cyjan IDS First-Boot Marker
After=network.target
ConditionPathExists=/etc/cyjan/FIRSTBOOT

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
