set default=0
set timeout=10

insmod all_video
insmod gfxterm
insmod png
set theme=

if background_image $prefix/splash.png; then
  set color_normal=white/black
  set color_highlight=black/white
fi

set menu_color_normal=cyan/black
set menu_color_highlight=black/cyan

menuentry "Cyjan IDS – Starten (Live)" {
  search --set=root --file /live/vmlinuz
  linux  /live/vmlinuz boot=live components nomodeset fbcon=rotate:2 consoleblank=0 live-config.nocomponents=keyboard-configuration
  initrd /live/initrd
}

menuentry "Cyjan IDS – Auf Festplatte installieren" {
  search --set=root --file /live/vmlinuz
  linux  /live/vmlinuz boot=live components nomodeset fbcon=rotate:2 consoleblank=0 live-config.nocomponents=keyboard-configuration ids.install=1
  initrd /live/initrd
}

menuentry "Cyjan IDS – Safe Mode" {
  search --set=root --file /live/vmlinuz
  linux  /live/vmlinuz boot=live components nomodeset fbcon=rotate:2 consoleblank=0 live-config.nocomponents=keyboard-configuration 3
  initrd /live/initrd
}
